In [6]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

df= pd.read_csv("D:\\state111practise.csv")
df

             State  Population  Unemployment.Rate Abbreviation
0          Alabama   4779736.0                5.7           AL
1           Alaska    710231.0                5.6           AK
2          Arizona   6392017.0                4.7           AZ
3         Arkansas   2915918.0                5.6           AR
4       California  37253956.0                4.4           CA
5         Colorado   5029196.0                2.8           CO
6      Connecticut   3574097.0                2.4           CT
7         Delaware    897934.0                5.8           DE
8          Florida  18801310.0                5.8           FL
9          Georgia   9687653.0                5.7           GA
10          Hawaii   1360301.0                1.8           HI
11           Idaho   1567582.0                2.0           ID
12        Illinois  12830632.0                5.3           IL
13         Indiana   6483802.0                5.0           IN
14            Iowa   3046355.0                1.9           IA
15          Kansas   2853118.0                3.1           KS
16        Kentucky   4339367.0                3.6           KY
17       Louisiana   4533372.0               10.3           LA
18           Maine   1328361.0                1.6           ME
19        Maryland   5773552.0                6.1           MD
20   Massachusetts   6547629.0                2.0           MA
21        Michigan   9883640.0                5.4           MI
22       Minnesota   5303925.0                1.6           MN
23     Mississippi   2967297.0                8.6           MS
24        Missouri   5988927.0                6.6           MO
25         Montana    989415.0                3.6           MT
26        Nebraska   1826341.0                2.9           NE
27          Nevada   2700551.0                6.0           NV
28   New Hampshire   1316470.0                0.9           NH
29      New Jersey   8791894.0                3.9           NJ
30      New Mexico   2059179.0                4.8           NM
31        New York  19378102.0                3.1           NY
32  North Carolina   9535483.0                5.1           NC
33    North Dakota    672591.0                3.0           ND
34            Ohio  11536504.0                4.0           OH
35        Oklahoma   3751351.0                4.5           OK
36          Oregon   3831074.0                2.0           OR
37    Pennsylvania  12702379.0                4.8           PA
38    Rhode Island   1052567.0                2.4           RI
39  South Carolina   4625364.0                6.4           SC
40    South Dakota    814180.0                2.3           SD
41       Tennessee   6346105.0                5.7           TN
42           Texas         NaN                4.4           TX
43            Utah   2763885.0                2.3           UT
44         Vermont    625741.0                1.6           VT
45        Virginia   8001024.0                4.1           VA
46      Washington   6724540.0                2.5           WA
47   West Virginia   1852994.0                4.0           WV
48       Wisconsin   5686986.0                2.9           WI
49         Wyoming    563626.0                2.7           WY

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
State                50 non-null object
Population           49 non-null float64
Unemployment.Rate    50 non-null float64
Abbreviation         50 non-null object
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

In [8]:
df.isnull()

    State  Population  Unemployment.Rate  Abbreviation
0   False       False              False         False
1   False       False              False         False
2   False       False              False         False
3   False       False              False         False
4   False       False              False         False
5   False       False              False         False
6   False       False              False         False
7   False       False              False         False
8   False       False              False         False
9   False       False              False         False
10  False       False              False         False
11  False       False              False         False
12  False       False              False         False
13  False       False              False         False
14  False       False              False         False
15  False       False              False         False
16  False       False              False         False
17  False       False              False         False
18  False       False              False         False
19  False       False              False         False
20  False       False              False         False
21  False       False              False         False
22  False       False              False         False
23  False       False              False         False
24  False       False              False         False
25  False       False              False         False
26  False       False              False         False
27  False       False              False         False
28  False       False              False         False
29  False       False              False         False
30  False       False              False         False
31  False       False              False         False
32  False       False              False         False
33  False       False              False         False
34  False       False              False         False
35  False       False              False         False
36  False       False              False         False
37  False       False              False         False
38  False       False              False         False
39  False       False              False         False
40  False       False              False         False
41  False       False              False         False
42  False        True              False         False
43  False       False              False         False
44  False       False              False         False
45  False       False              False         False
46  False       False              False         False
47  False       False              False         False
48  False       False              False         False
49  False       False              False         False

In [22]:
df.describe()

         Population  Unemployment.Rate
count  4.900000e+01          50.000000
mean   5.775475e+06           4.066000
std    6.341533e+06           1.915736
min    5.636260e+05           0.900000
25%    1.826341e+06           2.425000
50%    4.339367e+06           4.000000
75%    6.547629e+06           5.550000
max    3.725396e+07          10.300000

In [23]:
df.head()

        State  Population  Unemployment.Rate Abbreviation
0     Alabama   4779736.0                5.7           AL
1      Alaska    710231.0                5.6           AK
2     Arizona   6392017.0                4.7           AZ
3    Arkansas   2915918.0                5.6           AR
4  California  37253956.0                4.4           CA

In [24]:
df.tail()

            State  Population  Unemployment.Rate Abbreviation
45       Virginia   8001024.0                4.1           VA
46     Washington   6724540.0                2.5           WA
47  West Virginia   1852994.0                4.0           WV
48      Wisconsin   5686986.0                2.9           WI
49        Wyoming    563626.0                2.7           WY

In [25]:
df.isnull().sum()         ##this shows a number of null values present

State                0
Population           1
Unemployment.Rate    0
Abbreviation         0
dtype: int64

In [13]:
mean_value= df['Population'].mean()
mean_value

5775474.571428572

In [15]:
###Filling mean value
df['Population']= df['Population'].fillna(mean_value)
df

             State    Population  Unemployment.Rate Abbreviation
0          Alabama  4.779736e+06                5.7           AL
1           Alaska  7.102310e+05                5.6           AK
2          Arizona  6.392017e+06                4.7           AZ
3         Arkansas  2.915918e+06                5.6           AR
4       California  3.725396e+07                4.4           CA
5         Colorado  5.029196e+06                2.8           CO
6      Connecticut  3.574097e+06                2.4           CT
7         Delaware  8.979340e+05                5.8           DE
8          Florida  1.880131e+07                5.8           FL
9          Georgia  9.687653e+06                5.7           GA
10          Hawaii  1.360301e+06                1.8           HI
11           Idaho  1.567582e+06                2.0           ID
12        Illinois  1.283063e+07                5.3           IL
13         Indiana  6.483802e+06                5.0           IN
14            Iowa  3.046355e+06                1.9           IA
15          Kansas  2.853118e+06                3.1           KS
16        Kentucky  4.339367e+06                3.6           KY
17       Louisiana  4.533372e+06               10.3           LA
18           Maine  1.328361e+06                1.6           ME
19        Maryland  5.773552e+06                6.1           MD
20   Massachusetts  6.547629e+06                2.0           MA
21        Michigan  9.883640e+06                5.4           MI
22       Minnesota  5.303925e+06                1.6           MN
23     Mississippi  2.967297e+06                8.6           MS
24        Missouri  5.988927e+06                6.6           MO
25         Montana  9.894150e+05                3.6           MT
26        Nebraska  1.826341e+06                2.9           NE
27          Nevada  2.700551e+06                6.0           NV
28   New Hampshire  1.316470e+06                0.9           NH
29      New Jersey  8.791894e+06                3.9           NJ
30      New Mexico  2.059179e+06                4.8           NM
31        New York  1.937810e+07                3.1           NY
32  North Carolina  9.535483e+06                5.1           NC
33    North Dakota  6.725910e+05                3.0           ND
34            Ohio  1.153650e+07                4.0           OH
35        Oklahoma  3.751351e+06                4.5           OK
36          Oregon  3.831074e+06                2.0           OR
37    Pennsylvania  1.270238e+07                4.8           PA
38    Rhode Island  1.052567e+06                2.4           RI
39  South Carolina  4.625364e+06                6.4           SC
40    South Dakota  8.141800e+05                2.3           SD
41       Tennessee  6.346105e+06                5.7           TN
42           Texas  5.775475e+06                4.4           TX
43            Utah  2.763885e+06                2.3           UT
44         Vermont  6.257410e+05                1.6           VT
45        Virginia  8.001024e+06                4.1           VA
46      Washington  6.724540e+06                2.5           WA
47   West Virginia  1.852994e+06                4.0           WV
48       Wisconsin  5.686986e+06                2.9           WI
49         Wyoming  5.636260e+05                2.7           WY

In [16]:
df.tail(10)

            State    Population  Unemployment.Rate Abbreviation
40   South Dakota  8.141800e+05                2.3           SD
41      Tennessee  6.346105e+06                5.7           TN
42          Texas  5.775475e+06                4.4           TX
43           Utah  2.763885e+06                2.3           UT
44        Vermont  6.257410e+05                1.6           VT
45       Virginia  8.001024e+06                4.1           VA
46     Washington  6.724540e+06                2.5           WA
47  West Virginia  1.852994e+06                4.0           WV
48      Wisconsin  5.686986e+06                2.9           WI
49        Wyoming  5.636260e+05                2.7           WY

In [18]:
median_value = df['Population'].median()
median_value

4436369.5

In [21]:
#Alternative way of filling missing value with test statistic is by using our 
#Imputer method found in sklearn.preprocessing

from sklearn.processing import Imputer
imp = Imputer(missing_value='NaN', strategy= 'mean', axis='0')
imp.fit(df)
imp.transform(df)
#For mode we use strategy = 'most_frequent'

ModuleNotFoundError: No module named 'sklearn.processing'

In [22]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\anacondainterpreter\lib\site-packages (0.21.3)
Requirement already satisfied: joblib>=0.11 in c:\anacondainterpreter\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied: numpy>=1.11.0 in c:\anacondainterpreter\lib\site-packages (from scikit-learn) (1.16.5)
Requirement already satisfied: scipy>=0.17.0 in c:\anacondainterpreter\lib\site-packages (from scikit-learn) (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#Alternative way of filling missing value with test statistic is by using our 
#Imputer method found in sklearn.preprocessing

from sklearn.processing import Imputer
imp = Imputer(missing_value='NaN', strategy= 'mean', axis='0')
imp.fit(df)
imp.transform(df)
#For mode we use strategy = 'most_frequent'

ModuleNotFoundError: No module named 'sklearn.processing'

In [2]:
pip install sklearn.processing

Collecting sklearn.processing
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement sklearn.processing (from versions: none)
ERROR: No matching distribution found for sklearn.processing